<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/adminLayoutHeader :: adminLayoutHeader">
</head>
<body>
<div class="row" id="body-row">
    <div th:replace="admin/adminLayoutBody :: adminLayoutBody">

    </div>
    <!-- MAIN -->
    <div class="col py-3">

        <h1>
            Users Dashboard
        </h1>

        <form class="form-inline my-2 my-lg-0 w-50 mx-auto" th:action="@{/admin/user}">
            <div class="form-group">
                <label for="userSearch" class="col-sm-2 col-form-label">Search by Username</label>
                <input id="searchBar" class="form-control"
                       placeholder="Search" aria-label="Search" type="text">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="userSearch">Search</button>
            </div>
        </form>


    </div>
</div>

</body>
</html>