<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: layoutHeader">
</head>
<div th:replace="layout :: mainLayout"></div>
<div th:fragment="Index">
	<h1>Products</h1>
	<div th:unless="${#lists.isEmpty(allProducts)}">
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Description</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="product : ${allProducts}">
					<td th:text="${{product.id}}">13/01/2011</td>
					<td th:text="${product.name}">yes</td>
					<td th:text="${product.description}">Wireframe</td>
					<td th:text="${product.price}">10.00</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>