<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: layoutHeader">
</head>
<div th:replace="layout :: mainLayout"></div>
<div th:fragment="Index">
    <h1>Items in your cart</h1>

    <div th:unless="${#lists.isEmpty(allCartItems)}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr scope="row" th:each="cartItem : ${allCartItems}">
                <td><a th:href="@{~/products/{id}(id=${cartItem.product.id})}"
                       th:text="${cartItem.product.name}">yes</a></td>

                <td th:text="${cartItem.product.price}">10.00</td>
                <td th:text="${cartItem.quantity}"></td>
                <td>
                    <a type="button" class="btn btn-danger"
                       th:href="@{/cart/delete/{id}(id=${cartItem.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>